<div class="encabezado text-center">
   <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Soporte Técnico PCs" class="logo">
    <h4>Soporte Técnico PCs</h4>
    <p>Reparación y actualización de computadoras, limpieza externa e interna,<br>
       respaldos de información, instalación de controladores, juegos, karaokes,<br>
       instalación de cámaras de seguridad, reparación de impresoras.</p>
    <p><strong>Dirección:</strong> Romerillos y Cascarilla diagonal al parque central de la Cdla. Yahuarcuna<br>
       Loja - Ecuador</p>
    <hr>
</div>
